<div>
  <mat-toolbar color="accent"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="40px"
  fxlayoutGap.xs="0px"
  >
    <span fxFlex="100%" fxLayoutAlign="center" style="padding-top: 17px;">Módulo de procesos</span>
  </mat-toolbar>

  <mat-tab-group class="tabulador" (selectedTabChange)="onTabChanged($event)" mat-align-tabs="center">
    <mat-tab label="Entradas">
      <app-entradas></app-entradas>
    </mat-tab>
    <mat-tab label="Stock">
      <app-stock></app-stock>
    </mat-tab>
    <mat-tab label="Facturar">
      <app-facturacion></app-facturacion>
    </mat-tab>
  </mat-tab-group>
</div>
