<div>
  <mat-toolbar color="accent"
  fxLayout
  fxLayout.xs="row"
  fxLayoutAlign="center"
  fxLayoutGap="0px"
  fxlayoutGap.xs="0px"
  >

    <div fxFlex="33.3%"></div>
    <div fxFlex="33.3%" fxLayoutAlign="center" style="padding-top: 25px;">
      Módulo de procesos
    </div>
    <div fxFlex="33.3%"></div>
  </mat-toolbar>
</div>

<mat-toolbar color="accent"
  fxLayout
  fxLayout.xs="row"
  fxLayoutAlign="center"
  fxLayoutGap="40px"
  fxlayoutGap.xs="0px"
  >

  <div fxFlex="100%" fxLayoutAlign="center" class="menu">
    <button mat-raised-button color="primary" class="botones" (click)="abrirEntradas()">Entradas</button>
    <button mat-raised-button color="primary" class="botones" (click)="abrirStock()">Stock</button>
    <button mat-raised-button color="primary" class="botones" (click)="abrirFacturacion()">Facturar</button>
  </div>
</mat-toolbar>

<div>
  <app-entradas *ngIf="proceso=='entradas'"></app-entradas>
  <app-stock *ngIf="proceso=='stock'"></app-stock>
  <app-facturacion *ngIf="proceso=='facturacion'"></app-facturacion>
</div>
