<div>
  <mat-toolbar color="accent"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="40px"
  fxlayoutGap.xs="0px"
  >
    <span fxFlex="100%" fxLayoutAlign="center" style="padding-top: 17px;">Módulo de procesos</span>
  </mat-toolbar>
</div>

<div>
  <mat-toolbar color="accent"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="40px"
  fxlayoutGap.xs="0px"
  >
    <span fxFlex="100%" fxLayoutAlign="center" style="padding-top: 17px;">Módulo de procesos</span>
  </mat-toolbar>
</div>
