.fill-remaining-space {
     /* This fills the remaining space, by using flexbox.
        Every toolbar row uses a flexbox row layout. */
     flex: 1 1 auto;
}

.tecnologia{
  padding-top: 0.5rem;
}

.tecnologia2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
