<mat-tab-group (selectedTabChange)="onTabChanged($event)" mat-align-tabs="center">
     <mat-tab label="Ver proveedores"> 
          <app-ver-proveedores></app-ver-proveedores>
     </mat-tab>
     <mat-tab label="Agregar proveedor">
          <app-agregar-proveedor></app-agregar-proveedor>
     </mat-tab>
     <mat-tab label="Editar proveedor"> 
          <app-editar-proveedor></app-editar-proveedor>
     </mat-tab>
     <mat-tab label="Eliminar proveedor"> 
          <app-eliminar-proveedor></app-eliminar-proveedor>
     </mat-tab>
</mat-tab-group>
