<mat-tab-group (selectedTabChange)="onTabChanged($event)" mat-align-tabs="center">
     <mat-tab label="Ver productos"> 
          <app-ver-productos></app-ver-productos>
     </mat-tab>
     <mat-tab label="Agregar producto">
          <app-agregar-producto></app-agregar-producto>
     </mat-tab>
     <mat-tab label="Editar producto"> 
          <app-editar-producto></app-editar-producto>
     </mat-tab>
     <mat-tab label="Eliminar producto"> 
          <app-eliminar-producto></app-eliminar-producto>
     </mat-tab>
</mat-tab-group>
