<div class="container fondo"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0px"
     fx.LayoutGap.xs="0px"
>
<div fxFlex="33.3%"></div>
<div class="main-container" fxFlex="33.3%">
     <div>
          <mat-card>
               <br/>
               <mat-card-header fxLayoutAlign="center">
                 <mat-card-title>Agregar un producto</mat-card-title><br/>
                 <mat-card-subtitle>Si se ingresa un el nombre de un producto que ya existe. Se actualizará el valor del mismo.</mat-card-subtitle>
               </mat-card-header>
               <mat-card-content fxLayoutAlign="center">
                    <form [formGroup]="Form">
                         <mat-form-field appearance="standard">
                              <mat-label>Nombre del producto</mat-label>
                              <input formControlName="nombre" matInput placeholder="Escriba un nombre:">
                              <mat-hint class="rojo" *ngIf="(this.Form.controls.nombre.dirty || this.Form.controls.nombre.touched) && this.Form.controls.nombre.invalid">Requerido (3 caracteres min.)</mat-hint>
                         </mat-form-field>
                         <br/><br/>
                         <mat-form-field appearance="standard">
                              <mat-label>Precio</mat-label>
                              <input onKeyPress="if (this.value.length==9) return false;" placeholder="Rango: 1 - 999,999.99" formControlName="precio" matInput type="number" class="example-right-align">
                              <span class="rojo" *ngIf="(this.Form.controls.precio.dirty || this.Form.controls.precio.touched) && this.Form.controls.precio.invalid; else valido1" matPrefix>RD$&nbsp;</span>
                              <ng-template #valido1>
                                   <span matPrefix>RD$&nbsp;</span>
                              </ng-template>
                              <mat-hint class="rojo" *ngIf="(this.Form.controls.precio.dirty || this.Form.controls.precio.touched) && this.Form.controls.precio.invalid">Requerido (ingrese un numero válido.)</mat-hint>
                         </mat-form-field><br/>
                         <mat-card-actions align="end">
                              <button (click)="limpiarForm()" type="reset" mat-raised-button color="accent">LIMPIAR</button>
                              <button (click)="openDialog()" type="button" [disabled]="this.Form.invalid" mat-raised-button color="primary"><mat-icon>add_circle_outline</mat-icon> <span> AGREGAR</span></button>
                         </mat-card-actions>
                    </form>
               </mat-card-content>
          </mat-card>
     </div>
</div>
<div fxFlex="33.3%"></div>
</div>