<div>
     <mat-toolbar color="accent">
          Módulo de mantenimiento
     </mat-toolbar>
</div>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="40px"
     fx.LayoutGap.xs="0px"
>
     <div fxFlex="20%">
          <mat-drawer-container class="sidenav">
               <mat-drawer-content mode="side" opened>
                    <mat-list class="lista">
                         <mat-list-item>
                              <a mat-button class="btn-lista" (click)="abrirProductos()">
                                   <div>Productos</div>
                              </a>
                         </mat-list-item>
                         <mat-divider></mat-divider>
                         <mat-list-item>
                              <a mat-button class="btn-lista" (click)="abrirProveedores()">
                                   <div>Proveedores</div>
                              </a>
                         </mat-list-item>
                         <mat-divider></mat-divider>
                         <mat-list-item>
                              <a mat-button class="btn-lista" (click)="abrirClientes()">
                                   <div>Clientes</div>
                              </a>
                         </mat-list-item>
                    </mat-list>
               </mat-drawer-content>
          </mat-drawer-container>
     </div>
     <div class="tabs" fxFlex>
          <app-productos *ngIf="ventana=='productos'"></app-productos>
          <app-proveedores *ngIf="ventana=='proveedores'"></app-proveedores>
          <app-clientes *ngIf="ventana=='clientes'"></app-clientes>
     </div>
</div>
