<div>
     <mat-toolbar color="Second">
          Módulo de mantenimiento
     </mat-toolbar>
</div>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="40px"
     fx.LayoutGap.xs="0px"
>
     <div fxFlex="20%">
          <mat-drawer-container class="sidenav">
               <mat-drawer-content mode="side" opened>
                    <mat-list class="lista">
                         <mat-list-item>
                              <a mat-button class="btn-lista">
                                   <div>Productos</div>
                              </a>
                         </mat-list-item>
                         <mat-divider></mat-divider>
                         <mat-list-item>
                              <a mat-button class="btn-lista">
                                   <div>Proveedores</div>
                              </a>
                         </mat-list-item>
                         <mat-divider></mat-divider>
                         <mat-list-item>
                              <a mat-button class="btn-lista">
                                   <div>Clientes</div>
                              </a>
                         </mat-list-item>
                    </mat-list>
               </mat-drawer-content>
          </mat-drawer-container>
     </div>
     <div class="tabs" fxFlex>
          <mat-tab-group>
               <mat-tab label="Ver productos"> Content 1 </mat-tab>
               <mat-tab label="Agregar producto"> Content 2 </mat-tab>
               <mat-tab label="Editar producto"> Content 3 </mat-tab>
               <mat-tab label="Eliminar producto"> Content 3 </mat-tab>
          </mat-tab-group>
     </div>
</div>