.contenedor, .filtro, .tabla{
  width: 100%;
}

.contenedor{
  margin-top: 30px;
  margin-bottom: 30px;
}

.formulario{
  margin-left: 8rem;
}

.formulario-opciones{
  margin-top: 30px;
  padding-left: 1rem;
}
