<div
  id="imprimir"
  fxLayout
  fxLayout.xs = "column"
  fxLayoutAlign = "center"
  fxLayoutGap = "30px"
  fxLayoutGap.xs = "0px"
>
  <div fxFlex="20%"></div>
  <div fxFlex="60%">
    <div class="contenedor">
      <mat-form-field class="filtro">
        <mat-label>Filtrar por:</mat-label>
        <form [formGroup]="form" class="formulario">
          <mat-radio-group (change)="setFilterColumn($event)" formControlName="opcion" aria-label="Select an option">
            <mat-radio-button value="nombre">Nombre</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="categoria">Categoria</mat-radio-button>&nbsp;&nbsp;
          </mat-radio-group>
        </form><br/>
        <input matInput (keyup)="applyFilter($event)" placeholder="Nota: Joan Manuel || Regular">
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table class="tabla" mat-table [dataSource]="dataSource" matSort>

          <!-- Columna ID -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.clienteID}} </td>
      </ng-container>

      <!-- Columna Cedula -->
      <ng-container matColumnDef="Cedula">
       <th mat-header-cell *matHeaderCellDef>  RNC/Cédula </th>
       <td mat-cell *matCellDef="let cliente"> {{cliente.cedula}} </td>
     </ng-container>

      <!-- Columna Nombre -->
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.nombre}} </td>
      </ng-container>

      <!-- Columna Telefono -->
      <ng-container matColumnDef="Telefono">
       <th mat-header-cell *matHeaderCellDef> Teléfono </th>
       <td mat-cell *matCellDef="let cliente"> {{cliente.telefono}} </td>
      </ng-container>

      <!-- Columna Email -->
      <ng-container matColumnDef="Email">
       <th mat-header-cell *matHeaderCellDef> Correo electrónico </th>
       <td mat-cell *matCellDef="let cliente"> {{cliente.email}} </td>
      </ng-container>

      <!-- Columna Categoria -->
      <ng-container matColumnDef="Categoria">
        <th mat-header-cell *matHeaderCellDef> Categoría </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.categoria}} </td>
       </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let producto; columns: displayedColumns;">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
  <div fxFlex="20%" fxFlexAlign="center">
    <div>
      <div class="mat-typography">
        <h3 *ngIf="(stats!=null && this.form.controls.opcion.value == 'categoria')"><strong>Conteo:</strong> {{stats.conteo}}</h3>
      </div>
      <br/>
      <button mat-raised-button color="warn" (click)="imprimirConsulta()">PDF</button>
    </div>
  </div>
</div>
